

/*** package header css *****/
.package_header{
    margin-top:20px;
}
 .package_heading{
	margin-bottom: 30px;

}

.package_image{
	width: 100%;
	height: 100%;
}

.package_header ul li a{
	text-decoration: none;
	display: block;
	cursor: pointer;
	background: #ED7701;
	border-radius: 90px 90px 0 0;
	font-weight: bold;
	font-size: 24px;
	color: white;
}
.package_header ul li a:hover{
	border-radius: 90px 90px 0 0;
	background: #55A516;

}

.tab-content{
	background: #ccc;
	padding: 100px;


}

.package_image img{
    width:700px;
    height:450px;
}

.package_button{
    border:
}

.package_button{
	border: 5px solid blue;
	border-style: double;
	border-radius: 20px;
	text-align: center;
}

.package_button h2{
    margin-top:20px;
    font-weight:bold;
}

.head-content{
    margin-bottom:10px;
}
.tab-content, .tab-head{
    margin-left:20px;
    margin-right:20px;

}

.head-btn{
    height:80px;
    width:157px;

}

.package_button a button{
    font-size:22px;
    font-weight:bold;
}

/**package details image slider **/

.carousel-image{
	text-align: center;
	margin-top: 0px;

}
ul.package-details-pager{
	margin-left: 200px;
}

 ul.package-details-pager li
{
	padding: 0 3px;
	height: 28px;
	line-height: 28px;
	text-align: center;
}

 ul.package-details-pager li a
{
	color: #34495e;
}

 ul.package-details-pager li.selected a
{
	color: #e74c3c;
}


