
.slicknav_menu{
	display: none;
}

@media screen and (max-width: 992px){

/** navigation bar for responsive **/

	.slider{
		margin-top: 112px;
	}

	header{
		margin-top: -112px;
		background-color: #34495e;
	}
	
	#menu{
		display: none;
	}

	.slicknav_menu{
		display: inline-block;
		position: fixed;
		background: rgba(0,0,0,0);
		z-index: 1000;
		right: 0px;
		margin-top: -112px;
	}

	.slicknav_btn{
		background-color: #e743c3;
		margin: 35px 30px 0 0;
	}

	.slicknav_nav{
		background: #34495e;
		width: 200px;
	}

	.slicknav_nav li{
		margin: 0;
		padding: 0;
		height: 3em;
		line-height: 3em;
		width: 200px;
		border-bottom: 1px solid #2e4155;
		border-top: 1px solid #3d5267;
		text-align: center;
	}

	.slicknav_nav li a{
		margin: 0;
		padding: 0;
	}

	.slicknav_nav li a:hover{
		color: #e74c3c;
		background-color: rgba(0,0,0,0);
	}

	/** for responsive slider **/

	.slider, .slider ul.slider-carousel, .slider ul.slider-carousel li
	{
		height: 450px;
		
	}

	.slider ul.slider-carousel li h1 
	{
		margin-top: 100px;
		margin-bottom: 30px;
		
	}

	/** packages responsive styles **/

	.portfolio{
		background: none;
		background-color: #eca535;
	}

	.portfolio-carousel h3{
		font-size: 16px;

	}
	.portfolio-carousel p{
		font-size: 12px;

	}

	.portfolio-carousel li{
		margin-right: 0;
		margin-left: 0;

	}

	.portfolio .inner-content
	{
		position: relative;
		width: 200px;
		height: 200px;
	}

	.portfolio .portfolio-nav li
	{
		margin-right: 0px;
	}

	/** team responsive styles **/

	.team-carousel h3{
		font-size: 16px;

	}
	.team-carousel p{
		font-size: 12px;

	}

	.team-carousel li{
		margin-right: 0;
		margin-left: 0;

	}

	.team .inner-content
	{
		position: relative;
		width: 200px;
		height: 200px;
	}

	.team .team-nav li
	{
		margin-right: 0px;
	}

	.team-carousel p.description{
		display: none;
	}

	/** testimonials responsive styles **/
	.testimonials-carousel li
	{
		margin: 0 100px;
	}

	.testimonials
	{
		background: none;
		background-color: #0d1722;
		
	}

	/** blog responsive styles **/
	.blogs{
		text-align: center;
	}

	/** footer responsive styles **/
	footer{
		text-align: center;
	}
}

@media screen and (max-width: 550px){
	.slider, .slider ul.slider-carousel, .slider ul.slider-carousel li
	{
		height: 380px;
		
	}

	.slider ul.slider-carousel li h1 
	{
		margin-top: 70px;
		margin-bottom: 30px;
		
	}

	/** testimonials responsive styles **/
	.testimonials-carousel li
	{
		margin: 0 50px;
	}
	
}

@media screen and (max-width: 412px){

	/**for slider button **/
	.slider ul li a{ 
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
	}

	.slider ul.slider-carousel li h1 
	{
		margin-top: 50px;
		margin-bottom: 30px;
		font-size: 28px;
		
	}
}


	

