{% extends 'shared/header-footer.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="register-page">
            <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}

        <button class="btn"> Register</button>
            </form>

    If you already have an account <a href="login" ><strong>login</strong></a> instead.
        </div>


    </div>
</div>

{% endblock %}